---
target: test/test.conf
owner: joeblack
mode: 755
---

Hello {{ env['NAME'] or 'default name' }}

{% if env['NAME'] %}
NAME was in environment and is {{ env['NAME'] }}
{% endif %}

Directory listing {{ shell('ls -la') }}

{% if kube %}
{# }{% set pod = kube.get('pod', 'couchdb-0') %}

Pod name is: {{ pod.name }} #}
{% else %}
No kubernetes
{% endif %}
