---
target: tmpld/__init__.py
---

{%- set name = data.get('vars')['name'] -%}
{%- set version = data.get('vars')['version'] -%}
{%- set year = shell('date +%Y') %}

"""
tmpld
~~~~~

Jinja2 templating on steroids for docker containers.

CLI tool combining jinja2 with parsers and other objects including Kubernetes
API objects and linux capabilities objects.
"""

from . import core, cli

__title__ = '{{ name }}'
__version__ = '{{ version }}'
__author__ = "Joe Black <me@joeblack.nyc>"
__license__ = 'Apache 2.0'
__copyright__ = 'Copyright {{ year }} Joe Black'
